main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180vh;
}

.container-1 {
    width: 60vw;
}

section {
    display: flex;
    padding: 20px;
    border-top: 1px solid black;
}

section article {
    padding: 10px;
}

section article h2 { 
    color: #B90504;
}

.container-2 {
    width: 20vw;
    margin-left: 100px;
}

aside img {
    display: inline-block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

@media only screen and (max-width: 768px) {
    
    main {
        display: flex;
        justify-content: center;
        height: 450vh;
        width: 100vw;
    }

    section {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-top: 1px solid black;
    }
    
    section figure img {
        height: 200px;
        width: 200px;
    }
    
    .container-2 {
        display: none;
    }
}