* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    max-height: 500vh;
}

header {    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25vh;
    background-color: #B90504;
}

.header-img {
    height: auto;
    margin-left: 140px; 
}

header div img {
    height: 100%;
}

nav {
    height: 10vh;
    margin-right: 50px;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 10px;
    font-size: 30px;
    
}

a {      
    text-decoration: none;
    color: white;
}
/*--------------------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------------------*/

footer {
    display: flex;
    justify-content: flex-end;
    height: 20vh;
    background-color: #B90504;
}

.footer-logo {
    width: 20vw;
    margin-top: 10px;
    margin-right: 165px;
}

.footer-redes {
    display: inline-block;
    width: 20vw;
    margin-top: 20px;
    padding-left: 30px;
}

footer h2 {
    color: white;
    margin-left: 10px;
}

.icon-rede {
    width: 4vw;
    padding: 10px;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
        width: auto;
    }

    header nav{
        margin: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    header nav span {
        display: block;
        color: white;
    }

    ul{ 
        display: none;
        height: 100%;
        margin-bottom: 10px;
        background-color: white;
    }

    li{
        padding: 8px;
        font-size: 20px;
        display: block;
    }

    a{
        color: #B90504;
    }

    .header-img {
        width: auto;
        height: 25vh;
        margin: 0;
    }

    header div img {
        height: 100%;
    }

    footer {
        display: flex;
        justify-content: center;
    }

    footer div img {
        height: 100%;
    }

    .footer-logo{
        width: auto;
        margin: 0;
    }

    .footer-redes {
        display: none;
    }
}